
.ns-box {
    top: 38px;
    z-index: 9999;
    position: relative;
}
.ns-box i.snpshp-wp-bag {
    float: left;
    font-size: 36px;
}
.ns-box {
    background: none repeat scroll 0 0 rgba(42, 45, 50, 0.85);
    color: rgba(250, 251, 255, 0.95);
    font-size: 90%;
    line-height: 1.4;
    padding: 22px;
    pointer-events: none;
    position: fixed;
    z-index: 1000;
}
.ns-box a {
    color: inherit;
    font-weight: 700;
    opacity: 0.7;
}
.ns-box a:focus, .ns-box a:hover {
    opacity: 1;
}
.ns-box p {
    margin: 0;
}
.ns-box.ns-show, .ns-box.ns-visible {
    pointer-events: auto;
}
.ns-close {
    backface-visibility: hidden;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-indent: 100%;
    top: 4px;
    width: 20px;
}
.ns-close:focus, .ns-close:hover {
    outline: 0 none;
}
.ns-close::after, .ns-close::before {
    background: none repeat scroll 0 0 #6e6e6e;
    content: "";
    height: 60%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 3px;
}
.ns-close:hover:::after, .ns-close:hover::before {
    background: none repeat scroll 0 0 #fff;
}
.ns-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}
.ns-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
}
.ns-attached {
    left: 30px;
    max-width: 300px;
}
.ns-attached.ns-hide[class*=" ns-effect-"], .ns-attached.ns-hide[class^="ns-effect-"] {
    animation-direction: reverse;
}
.ns-effect-flip {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #9bd1a2;
    bottom: 0;
    font-size: 1.15em;
    max-width: 280px;
    padding: 1.5em;
    transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
}
.ns-effect-flip .ns-close::after, .ns-effect-flip .ns-close::before {
    background: none repeat scroll 0 0 #5a9862;
}
.ns-effect-flip .ns-close:hover::after, .ns-effect-flip .ns-close:hover::before {
    background: none repeat scroll 0 0 #4e8455;
}
.ns-effect-flip.ns-hide, .ns-effect-flip.ns-show {
    animation-duration: 0.3s;
    animation-name: animFlipFront;
}
.ns-effect-flip.ns-hide {
    animation-name: animFlipBack;
}
@keyframes animFlipFront {
    0% {
        transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
        -moz-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }
    100% {
        transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -webkit-transform: perspective(1000px);
    }
}
@keyframes animFlipBack {
    0% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
        -moz-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        transform: perspective(1000px);
        -webkit-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
    }
}
.ns-effect-bouncyflip {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 13px 10px -5px rgba(0, 0, 0, 0.2);
    color: #484860;
    top: 0;
    transform-origin: 50% 0 0;
}
.ns-effect-bouncyflip .icon {
    display: block;
    left: 2em;
    position: absolute;
    top: 2em;
}
.ns-effect-bouncyflip p {
    padding: 0.5em 0.8em 0.8em 3.5em;
}
.ns-effect-bouncyflip .ns-close::after, .ns-effect-bouncyflip .ns-close::before {
    background: none repeat scroll 0 0 #484860;
}
.ns-effect-bouncyflip .ns-close:hover::after, .ns-effect-bouncyflip .ns-close:hover::before {
    background: none repeat scroll 0 0 #545484;
}
.ns-effect-bouncyflip.ns-hide, .ns-effect-bouncyflip.ns-show {
    animation-duration: 0.8s;
    animation-name: flipInX;
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
    }
    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
    }
    100% {
        transform: perspective(400px);
        -webkit-transform: perspective(400px);
        -moz-transform: perspective(400px);
    }
}
.ns-effect-bouncyflip.ns-hide {
    animation-duration: 0.3s;
    animation-name: flipInXSimple;
}
@keyframes flipInXSimple {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px);
        -webkit-transform: perspective(400px);
        -moz-transform: perspective(400px);
    }
}
@media screen and (max-width: 25em) {
    .ns-attached {
        left: 30px;
        max-width: none;
        right: 30px;
    }
}