$megamenu-bg                               : $white;
$navbar-mega-border                        : transparent;
$navbar-mega-line-height                   : 75px;

$navbar-mega-skin2-bg                      : transparent;
$navbar-mega-skin2-border                  : $border-color;
$navbar-mega-skin2-line-height             : 30px;

$navbar-text-transform                     : uppercase;

$navbar-font-size                          : 14px;
$navbar-font-weight                        : 900;
 
$navbar-link-padding                       : 20px 0 15px 0;
$navbar-link-color                         : $white;
$navbar-link-hover-color                   : $white;
$navbar-link-active-color                  : $theme-color;

$navbar-widget-title-color                 : $black;
$navbar-widget-title-margin                : 0 0 10px 0;
$navbar-widget-title-font-size             : 14px;
$navbar-widget-title-font-weight		   : 700;

$navbar-dropdown-padding                   : 10px 18px;
$navbar-dropdown-bg                        : $white;
$navbar-dropdown-size                      : 200px;
$navbar-dropdown-link-color                : $color-1;
$navbar-dropdown-link-hover-color          : $theme-color;
$navbar-dropdown-link-hover-bg             : $nocolor;
$navbar-dropdown-link-transform            : uppercase;
$navbar-dropdown-link-font-size            : 11px;
$navbar-dropdown-link-font-weight          : 300;
$navbar-dropdown-link-border-color         : $nocolor;