$vertical-menu-link-hover-color			   : $theme-color;

$footer-newsletter-padding                      : 25px;
$footer-newsletter-bg                           : $theme-color;
$footer-newsletter-color                        : $white;
$footer-newsletter-heading-font-size            : 18px;