$widget-product-list-padding			: 15px 0;

$product-name-font-size                 : 14px;
$product-price-old-color				: $black;

// Star
// -------------------------
$star-rating-color                      : $light-gray;
$star-rating-active-color               : #EA5654;
$star-rating-font-size                  : 9px;

$sale-label-bg							: #CA5654;
$sale-label-padding						: 3px 8px;
$sale-label-color						: $white;

$product-category-hover-color			: $theme-color; 

$widget-product-list-font-size			: 14px;
$widget-product-list-text-transform		: none;