$theme-color:               		#887060;
$theme-color-second: 				#121713;

$image-theme-path                   :'../../../images/';
$image-theme-skin                   :'../../../images/skins/brown/';
$woo-font-path                      :'../../../fonts/woocommerce/';
$theme-font-path                 	: '../../../fonts/';
// Font
// -------------------------
$font-family-second 				: 'brandonxgrotesque';

// Breadcrumb
// -------------------------
$breadcrumb-bg       : rgba($black, 0.01);
$breadcrumb-bg-image : url("#{$image-theme-path}breadcrumb-bg.png");
$breadcrumb-border   : 0px;

// Typography
// --------------------------
$font-size-lg       : 48px;
  

// Box
// --------------------------
$box-heading-font-size:             16px;

//Font slide
$font-slide-primary		: 'brandonxgrotesque';   
$font-slide-second		: 'brandonxgrotesque';
 
//Layout
//---------------------------
$block-sidebar-heading-hightlight-bg   : $theme-color;
@import
    "form",
    "layout",
    "menu",
    "page",
    "post-vars",
    "visual-vars",
    "widget";

