/*-------------------------------------------
    No Margin
-------------------------------------------*/
.no-margin{
    margin: 0 !important;
    .pagination{
        margin: 0;
    }
}
.no-margin-left{
    margin-left: 0 !important;
}
.no-margin-right{
    margin-right: 0 !important;
}
.no-margin-top{
    margin-top: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}

/*-------------------------------------------
    No Padding
-------------------------------------------*/
.no-padding{
    padding: 0 !important;
}
.no-padding-widget{
    .widget{
        padding: 0!important;
    }
}
.no-margin-widget{
    .widget{
        margin: 0!important;
    }   
}
.no-padding-left{
    padding-left: 0 !important;
}
.no-padding-right{
    padding-right: 0 !important;
}
.no-padding-top{
    padding-top: 0 !important;
}
.no-padding-bottom{
    padding-bottom: 0 !important;
}
.no-position{
   position: static !important;
}
.inline-block{
    @include inline-block();
}
// Clear Box
// -------------------------
%clear-box{
    padding : 0px !important;
    border  : 0px !important;
}
/*------------------------------------*\
    Clear List Style
\*------------------------------------*/
.clear-list{
    @include clear-list;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/*-------------------------------------------
    Clear heading style
-------------------------------------------*/
.no-heading-style{
    &:after{
        display: none !important;
    }
}

/*-------------------------------------------
    Text Transform
-------------------------------------------*/
.text-none{
    text-transform: none !important;
}

.text-uppercase{
    text-transform: uppercase !important;
}

/*-------------------------------------------
    Align
-------------------------------------------*/
.separator_align_center{
    text-align: center !important;
}
.separator_align_left{
    text-align: left !important;
}
.separator_align_right{
    text-align: right !important;
}

/*-------------------------------------------
    Wrapper
-------------------------------------------*/
.well{
    &.no-margin{
        margin-bottom: 0;
    }
    &.no-padding{
        padding-bottom: 0;
    }
}

/*------------------------------------*\
    Font size heading title
\*------------------------------------*/
.font-size-lg{
    @include font-size(font-size,$font-size-lg);
}
.font-size-md{
    @include font-size(font-size,$font-size-md);
}
.font-size-sm{
    @include font-size(font-size,$font-size-sm);
}
.font-size-xs{
    @include font-size(font-size,$font-size-xs);
}

/*------------------------------------*\
    rounded
\*------------------------------------*/
.rounded{
    @include border-radius(50px);
}
.no-rounded{
    @include border-radius(0px);
}

/*------------------------------------*\
    Border
\*------------------------------------*/
.no-border{
    border: 0px !important;
}

/*------------------------------------*\
    No background
\*------------------------------------*/
.bg-transparent{
    background: transparent !important;
}

/*------------------------------------*\
    Float
\*------------------------------------*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/*------------------------------------*\
    Display 5col bootstrap
\*------------------------------------*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}