// 404 page
// -------------------------
$error-title-font-size      : 18px !default;
$error-title-line-height	: 24px !default;
$error-title-margin         : 30px 0 10px !default;
$error-content-font-size    : 28px !default;

// Title All Page
// -------------------------
$page-title-margin          : 0 0 $theme-margin 0 !default; 